html {
    background-color: #333333;
}
body {
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 80%;
    min-width: 700px;
    background: #666A86;
    border: 2px solid #73777B;
    padding: 2px 10px;
    border-radius: 20px;
}
header {
    margin: 1px 10px;
    padding: 5px;
}
section {
    float: right;
}
nav li {
    display: inline-block;
    text-align: center;
    background-color: #73777B;
    border: 2px solid #333333;
    padding: 5px;
    border-radius: 10px;
}
nav a:link {
    color: #B4464F;
}
nav a:visited {
    color: #B4464F;
}
nav a:hover {
    color: #B4464F;
}
nav a:active {
    color: #B4464F;
}
footer {
    margin: 5px 10px;
    padding: 5px;
    font-size: .8em;
    clear: both;
}
h1, h2 {
    color: #B4464F;
}
table {
    text-align: center;
}
.image {
    float: left;
    margin: 10px;
    border: 3px solid #73777B;
}
.rounded-corners {
    border-radius: 30px;
    
}